<div class="jumbotron" ng-hide="results">
  <h1>Git Lucky</h1>
  <p class="lead">
    GitHub's missing "I'm Feeling Lucky" button
  </p>
</div>
<div class="row">
  <p>
    <label for="language">Choose your langauge: </label>  
    <select ng-model="language" name="language" ng-options="value for value in languageOptions" />
<a class="btn btn-lg btn-success" ng-click="getIssues()">Let's Git Lucky</span></a></p>
</div>
<div class="row" ng-show="results">
  <h3>Try this one out:</h3>
  <p ng-show="!loading"><strong>Repo: <a href="{{repoInfo.html_url}}">{{repoInfo.full_name}}</a></strong> 
  <p ng-show="!loading"><strong>Description:</strong> {{repoInfo.description}}
  <p ng-show="!loading"><strong>Title:</strong> {{results[issueCount].title}}</p>
  <p ng-show="!loading"><strong>Body: </strong> {{results[issueCount].body}}</p>
  <button ng-click="incrementCount()">Nope</button> <a href="{{results[issueCount].html_url}}"><button>Go for it</button>
</div>